<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <fieldset id="group1">
         <label for="group1_option1">Option 1</label>
    <br>
         <label for="group1_option1">Option 1</label>
        <input type="radio" value="sdas">
         <label for="group1_option1">Option 1</label>
        <input type="radio" value="sdasd">
    </fieldset>

    <fieldset id="group2">
        <input type="radio" value="asdas">
        <input type="radio" value="sad">
        <input type="radio" value="asda">
    </fieldset>
</form>
</body>
</html>